<ng-template [ngIf]="!isAuthPage">

  <mat-toolbar color="primary" class="app-header">

    <div class="container" fxLayout fxLayoutAlign="space-between">

      <img src="../../assets/brand/text_white.png" height="30px">

      <button mat-button color="white" routerLink="/login">Logout</button>
    </div>

  </mat-toolbar>

</ng-template>

<ng-template [ngIf]="isAuthPage">

  <a routerLink="/">
    <div class="header-auth">
      <img src="../../assets/brand/joined_black.png" height="60px">
    </div>
  </a>

</ng-template>

