<header>
  <div class="container">
    <div class="header-auth" fxLayout="column">
      <div style="padding: 3rem 0;" fxFlex fxLayout fxLayoutAlign="start center" fxLayoutGap="15px">

        <a routerLink="/">
          <img src="../../assets/brand/joined_black.png" height="50">
        </a>
        <div fxFlex></div>
        <a class="app-nav-link" routerLink="/cart">My Cart</a>
        <a class="app-nav-link" routerLink="/login">Logout</a>
      </div>
    </div>
  </div>
</header>

<section style="padding: 2rem;">
  <div class="container">
    <img src="../../assets/text/my_cart.svg" height="60">
  </div>
</section>

<section style="padding: 2rem;">
  <div class="container">

    <mat-tab-group>
      <mat-tab label="Items">
          <section>
            <div class="container" fxLayout="column" fxLayoutGap="10px" style="padding: 1rem 0;">
              <mat-card style="padding: 2rem 5rem;">
                <mat-card-title style="color: #7158E2">Crocin</mat-card-title>
                <mat-card-content>
                  <h3>Dosage: 50mg<span style="width: 5rem; display: inline-block;"></span>Quantity: 10<span style="width: 5rem; display: inline-block;"></span>M.R.P. : Rs. 5/tablet</h3>
                </mat-card-content>
              </mat-card>
              <mat-card style="padding: 2rem 5rem;">
                <mat-card-title style="color: #7158E2">Ofloxin</mat-card-title>
                <mat-card-content>
                  <h3>Dosage: 100mg<span style="width: 5rem; display: inline-block;"></span>Quantity: 5<span style="width: 5rem; display: inline-block;"></span>M.R.P. : Rs. 10/tablet</h3>
                </mat-card-content>
              </mat-card>
              <mat-card style="padding: 2rem 5rem;">
                <mat-card-title style="color: #7158E2">Ear Drops</mat-card-title>
                <mat-card-content>
                  <h3>Dosage: 100ml<span style="width: 5rem; display: inline-block;"></span>Quantity: 1<span style="width: 5rem; display: inline-block;"></span>M.R.P. : Rs. 100/bottle</h3>
                </mat-card-content>
              </mat-card>
            </div>
            <div style="margin-top: 2rem;" fxLayoutAlign="end">
              <button mat-raised-button color="primary">Checkout&nbsp;&nbsp;<mat-icon>chevron_right</mat-icon></button>
            </div>
          </section>
      </mat-tab>
      <mat-tab label="Previous Orders">

        <section>
            <div class="container" fxLayout="column" fxLayoutGap="10px" style="padding: 1rem 0;">
              <mat-card style="padding: 2rem 5rem;">
                <mat-card-title style="color: #7158E2">Crocin</mat-card-title>
                <mat-card-content>
                  <h3>Dosage: 50mg<span style="width: 5rem; display: inline-block;"></span>Quantity: 10<span style="width: 5rem; display: inline-block;"></span>M.R.P. : Rs. 5/tablet</h3>
                </mat-card-content>
              </mat-card>
              <mat-card style="padding: 2rem 5rem;">
                <mat-card-title style="color: #7158E2">Ofloxin</mat-card-title>
                <mat-card-content>
                  <h3>Dosage: 100mg<span style="width: 5rem; display: inline-block;"></span>Quantity: 5<span style="width: 5rem; display: inline-block;"></span>M.R.P. : Rs. 10/tablet</h3>
                </mat-card-content>
              </mat-card>
              <mat-card style="padding: 2rem 5rem;">
                <mat-card-title style="color: #7158E2">Ear Drops</mat-card-title>
                <mat-card-content>
                  <h3>Dosage: 100ml<span style="width: 5rem; display: inline-block;"></span>Quantity: 1<span style="width: 5rem; display: inline-block;"></span>M.R.P. : Rs. 100/bottle</h3>
                </mat-card-content>
              </mat-card>
            </div>
          </section>

      </mat-tab>
    </mat-tab-group>

  </div>
</section>


