<header>
    <div class="header-auth" fxLayout="column">
      <div style="padding: 3rem 10rem;" fxFlex fxLayout fxLayoutAlign="start center" fxLayoutGap="15px">

        <a routerLink="/">
          <img src="../../assets/brand/joined_black.png" height="50">
        </a>
        <div fxFlex></div>
        <a class="app-nav-link" routerLink="/">My Cart</a>
        <a class="app-nav-link" routerLink="/login">Logout</a>
      </div>
    </div>
</header>


<main fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="margin-top: 15rem;">

    <img src="../../assets/text/search.svg" height="115">

    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

      <mat-form-field style="width: 60rem; font-size: 2rem;">
        <input matInput name="search" ngModel type="text" autocomplete="off">
      </mat-form-field>

      <button mat-stroked-button type="button" routerLink="/search/text" style="color: #101010; margin-top: 3rem;" color="primary">Search</button>

    </form>

  <section style="padding: 3rem 0;">
  <img src="../../assets/text/or.svg" height="20">
  </section>

        <a routerLink="/search/image">
          <img src="../../assets/text/upload_button.png">
        </a>


</main>
